.box_wrap {
    width: 330px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    width: 100px;
    height: 100px;
    background-color: indianred;
    border-radius: 10px;
}